.header {
    padding:  20px;
    background-color: black;
    color: white;
}

.main {
    padding:  40px;
    color: red;
}

.footer{
    padding: 20px;
    color: white;
    background-color: black; 
}